html{
	background-color: #fffaeb;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 500px;
  font-family: Didot, serif;
  line-height: 10px;

}
h2 {
	font-family: Gill Sans, sans-serif;
	font-weight: lighter;
	font-size: 200px;
	line-height: 5px;
