html{
	background-color: #fffdf7;
	margin-left: 70px;
	margin-top: 20px;
	margin-right: 70px;
}
h1 {
  font-family: "amplitude-extra-compressed", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 250px;
	line-height: 10px;
	margin-bottom: 90px;
	color: #ff4545;

}
h2 {
  font-family: "amplitude-extra-compressed", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 90px;
	line-height: 70px;
	margin-bottom: 35px;
}
h3 {
	font-family: "Gill Sans", sans-serif;
	font-weight: lighter;
	font-style: italic;
	font-size: 30px;
	line-height: 10px;
	margin-bottom: 100px;
	
}

a {
	text-decoration: none;	
}

ul {
	color: black;
	list-style-type: none;
}

a:visited {
	color:black;
}
a:link {
	color:black;
}
a:hover {
	color:#4f87ff;
}
.red {
	color: #ff4545;
}
.ar {
	font-size: 50px;
}

body {
	font-size: 25px;
	font-family: Gill Sans, sans-serif;
}
p {
	margin-left: 150px ;
	margin-right: 300px ;
	font-size: 20px;
	font-family: Gill Sans, sans-serif;
	line-height: 35px;

}

.category {
	font-size: 40px;
}


.newdisco {
	font-family: "amplitude-extra-compressed", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 100px;
}

.f1{
	font-size: 60px;
	color: #ff4545;
	text-decoration: bold;
	margin-right: 10px;
}

.nextpage {
	color: #ff4545;
}
